html, body {
  height: 100%;
  margin: 0; 
}

header {
  text-align: center;
  font-size: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(0, 255, 0);
}

.navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(0, 0, 139);
}

.pane {
  float: left;
  width: 25%;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.pane:hover {
  background-color: rgb(0, 0, 205);
}

.content {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17.5px;
  min-height: 77.5vh;
  margin: auto;
  width: 60%;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}

footer {
  margin-top: auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}

h2 {
  text-align: center;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.buttons {
  text-align: center; 
  margin-bottom: 20px;
}

.buttons input[type="submit"],
.buttons input[type="reset"] {
  font-size: 18px; 
  margin: 0 15px;     
  background-color: rgb(0, 100, 0);    
  color: white; 
  cursor: pointer; 
  border: none;
  padding: 10px;
  border-radius: 5px;
}

.buttons input[type="submit"]:hover,
.buttons input[type="reset"]:hover {
  background-color: rgb(50, 205, 50); 
}

.link {
 text-align: center;
 font-style: italic;
}

h3 {
  text-align: center;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  max-width: 80%; 
  height: auto; 
}

.figurebox {
  text-align: center; 
}

figure {
  display: inline-block; 
  margin: 0 auto; 
}

figcaption {
  margin-top: 0.5em; 
  font-family: Arial, Helvetica, sans-serif;
}
